{%  extends 'navbarbase.html' %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load leaflet_tags %}
{%  load static %}
{% block bootstrap3_extra_head %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}
{% leaflet_js %}
{% leaflet_css %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block content %}

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <form id="checklist_form" method="post"> {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" name="save_checklist" class="btn btn-primary" formaction="{% url 'checklist_detail' pk=checklist.pk %}">Save Checklist Changes</button>
                    </form>

                </div>
                <div class="col-md-4">
                    {% leaflet_map "map" %}
                    <script>
                        var map = L.map('map').setView([{{ form.latitude.value }},{{ form.longitude.value }}],13);
                        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Land Surveyor Checklist System',
    maxZoom: 18,
    id: 'moezubair.n1ak6nk3',
    accessToken: 'pk.eyJ1IjoibW9lenViYWlyIiwiYSI6IjVlZDlmNDc3YTMxMTY2MDYxYTJiOTQ3YzJhYWRkZTIzIn0.Mix0gmORPtb4YXi0A7g8kg'
}).addTo(map);
                        var marker = L.marker([{{ form.latitude.value }},{{ form.longitude.value }}]).addTo(map);
                    </script>
                    <div class="col-md-12">
                        <h1>Weather Data</h1>
                        <div class="table-container">
                        <table class="table table-compact table-bordered">

                            <tr>
                                <td>Temperature</td>
                                <td>{{ weather.temp }} Celsius</td>
                            </tr>
                            <tr>
                                <td>Forcasted Range</td>
                                <td>{{ weather.min }} to {{ weather.max }} Celsius</td>
                            </tr>
                            <tr>
                                <td>Humidity</td>
                                <td>{{ weather.humidity }}%</td>
                            </tr>
                            <tr>
                                <td>Atmospheric Pressure</td>
                                <td>{{ weather.pressure }} hPA</td>
                            </tr>
                        </table>
                            </div>

                    </div>
                </div>
            </div>


                <div class="row">
                    <div class="col-md-8">
                        <h2>Checklist Items</h2>
                        <form id="item_form_set" method="post"> {% csrf_token %}
                        {{ item_form_set.management_form }}
                        {% for item_form in item_form_set.forms %}
                            {% bootstrap_form item_form %}
                        {% endfor %}
                            <button type="submit" name="save_selections" class="btn btn-primary" formaction="{% url 'checklist_items' %}">Save Items Changes</button>
                        </form>
                    </div>
                </div>

                <div class="row">
                    {%  buttons %}
                    <a role="button" class="btn btn-info" href="{% url 'home' %}">Done</a>
                    {% endbuttons %}

                </div>
        </div>

{% endblock content %}