{%  extends 'navbarbase.html' %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_title %}Home{% endblock %}

{%  block content %}
    {% if user_checklist_list %}
        <table class="table">
            <caption><b>My Checklists</b></caption>
            <tr>
                <th>File #</th>
                <th>Title</th>
                <th>Manager</th>
                <th>Surveyor</th>
                <th>Status</th>
                <th>Created</th>
                <th>Updated At</th>
                <th>Delete</th>
            </tr>
            {% for checklist in user_checklist_list %}
            <tr>
            <td>{{ checklist.file_number }}</td>
                <td>
                    <a href="{% url 'checklist_detail' checklist.id %}">{{ checklist }}</a>
                </td>
                <td>{{ checklist.created_by.get_full_name }}</td>
                <td>{{ checklist.assigned_to.get_full_name }}</td>
                <td>{{ checklist.get_status }}</td>
                <td>{{ checklist.created_at }}</td>
                <td>{{ checklist.updated_at }}</td>
                <form method="post"> {% csrf_token %}
                    {% for group in user.groups.all %}
                        {% if group.name == 'Manager' %}
                            <td><button type="submit" name="delete" class="btn btn-danger" value="{{ checklist.id }}">Delete</button></td>
                        {% else %}
                            <td>N/A</td>
                        {% endif %}
                    {% endfor %}
                </form>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No checklists are available.</p>
    {% endif %}
    <a href="{% url 'create_checklist' %}" type="submit" class="btn btn-primary">Create Checklist</a>
{% endblock content%}

