{%  extends 'navbarbase.html' %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{%  block content %}
    {% if user_checklist_list %}
        <table class="table">
            <caption><b>My Checklists</b></caption>
            <tr>
                <th>File #</th>
                <th>Title</th>
                <th>Manager</th>
                <th>Surveyor</th>
                <th>Status</th>
                <th>Created</th>
                <th>Updated At</th>
            </tr>
            {% for checklist in user_checklist_list %}
            <tr>
            <td>{{ checklist.file_number }}</td>
                <td>
                    <a href="{% url 'checklist_detail' %}">{{ checklist.id }}</a>
                </td>
                <td>{{ checklist.created_by.get_full_name }}</td>
                <td>{{ checklist.assigned_to.get_full_name }}</td>
                <td>{{ checklist.get_status }}</td>
                <td>{{ checklist.created_at }}</td>
                <td>{{ checklist.updated_at }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No checklists are available.</p>
    {% endif %}
{% endblock content%}

